*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: aqua;
}

.container{
  display: flex;
  flex-wrap: wrap;
  width: 80vw;
  height: 80vh;
  margin: 10vh auto;
}

.box{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  height: 10%;
  padding: 20px;
  background-color: deepskyblue;
  border: 1px solid rgb(0, 132, 255);
}

.buzz{
  background-color: white;
  animation-name: buzz;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes buzz{
  50% {
    background-color: lightsalmon;
  } 
}

.fizz{
  background-color: lightgreen;
  animation-name: fizz;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes fizz{
  50% {
    background-color: white;
  } 
}

.fizzbuzz{
  background-color: lightgreen;
  animation-name: fizzbuzz;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes fizzbuzz{
  50% {
    background-color: lightsalmon;
  } 
}